*{
    padding: 0px;
    margin: 0px;
}

#navbar{
    width: 100vw;
    height: 7vh;
    background-color: #e4c1f9;
    margin: 0 auto;
    text-align: center;
    font-size: 5vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 2, 63);
}

.pieces{
    width: 30px;
    height: 30px;
    background-color: #00aaff;
    color: #0038a7;
}

#gamearea{
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    margin: 0 auto;
    padding-top: 45px;
}

.square{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#Titan{
    
}

/* https://coolors.co/palette/ff99c8-fcf6bd-d0f4de-a9def9-e4c1f9 */